/* Header and Nav bar CSS adapted from 
https://stackoverflow.com/questions/64309593/how-to-put-the-h1-element-on-the-same-line-as-the-navigation-bar */

header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: baseline;
}
  
nav {
    margin: 10px;
    display: inline;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: underline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color:darkcyan;
    text-decoration: underline;
}

h1 {
    border-radius: 30px;
    padding-top: 0.5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
}

h2 {
    background-color: antiquewhite;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

body {
    background-color: antiquewhite;
}

h3 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    padding: 5%;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 40px; 
}

img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    float: left;
  }

.container {
    display: inline-flex;
    width: 95%;
    align-items: center;
}