/* Header and Nav bar CSS adapted from 
https://stackoverflow.com/questions/64309593/how-to-put-the-h1-element-on-the-same-line-as-the-navigation-bar */

header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 20px;
    background-color: black;
    color:antiquewhite;
}
  
nav {
    margin: 10px;
    display: inline;
    font-weight: bold;
}

nav a {
    color: antiquewhite;
}

a {
    color: black;
    text-decoration: underline;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-left: 20px;
    width:100%;
    position:absolute;
    bottom: 0;
    height:60px;
}

.footer a {
    color: antiquewhite;
}


a:hover {
    color:darkcyan;
    text-decoration: underline;
}

h1 {
    padding-top: 0.5px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    background-color: antiquewhite;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: antiquewhite;
    line-height: normal;
    height:100%;
    margin:0;
    padding:0;
    padding-bottom:60px;
}

h3 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px; 
    padding-left: 20px;
    padding-right: 20px;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    padding-right: 20px;
    padding-left: 20px;

}

img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-right: 10px;
    width: 10%;
    height: 10%;
  }

.container {
    display: inline-flex;
    padding: 5px;
    align-items: center;
}

.bio-container {
    display: inline-flex;
    padding: 5px;
    padding-left: 20px;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}
.comedy-subgroup {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.17em;
    padding: 10px;
}

.comedy-subgroup li::before{
    content:"🕺";
}

video {
    width: 50% !important;
    height: auto !important;
    display: block;
    margin: auto;
}



/* image gallery code adapted from GeeksforGeeks tutorial 
https://www.geeksforgeeks.org/how-to-make-image-gallery-using-html-css-and-javascript/ */
.gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
    margin-top: 5px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1.0;
    object-fit: cover;
}

.gallery-item img:hover {
    opacity: 0.5;
}

.typing-container {
    margin-top: 540px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 108px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.input-cursor {
    display: inline-block;
    width: 4px;
    height: 108px;
    background-color: black;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}